

<div class="text-center">
    <h1 class="display-4">Welcome to our Game Store!</h1>
    <p class="text-center p-3">Go Add your Games</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Game" asp-action="Index">Go to Games</a>
</div>
